::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ddd
}
//::-webkit-scrollbar-track {
//  background-color: rgba(var(--v-border-color), var(--v-border-opacity));
//}

.hide-details .v-input__details {
  display: none;
}

.compact-form {
  $field-height: 32px;
  .v-input {
    height: $field-height;

    .v-input__control {
      height: $field-height;
    }

    .v-field {
      .v-field__outline {
        --v-field-border-width: 1px;
      }

      .v-field__input {
        padding: 0 0.5em;
        min-height: auto;
      }

      .v-select__selection {
        margin: 0;
        height: $field-height;
      }

      input {
        height: $field-height;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        min-height: auto;
      }
    }
  }
}

.side-menu {
  .v-list-item__prepend > .v-icon {
    font-size: 1em;
    &~ .v-list-item__spacer {
      width: 1rem;
    }
  }
  .v-list-item--active:not(.v-list-group__header) {
    color: rgb(var(--v-theme-primary));
  }
}
.logout {
  .v-list-item__prepend > .v-icon {
    &~ .v-list-item__spacer {
      width: 1rem;
    }
  }
}
